In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url2 = 'https://lyricstranslate.com/en/collection/chinese-songs-transliteration-easy-learning'
html_content2 = requests.get(url2).text
soup2 = BeautifulSoup(html_content2)

In [3]:
links_list = []
for i in soup2.find_all("span", class_="collection-title"):
    for c in i.children:
        links_list.append(c['href'])

In [9]:
zh = []
tran = []
for link in links_list:
    html_content = requests.get("https://lyricstranslate.com" + link).text
    soup = BeautifulSoup(html_content)
    zh_tran = []
    for i in soup.find_all(class_="ltf"):
        zh_tran.append(i.get_text())
    if len(zh_tran) == 2:
        zh.extend(zh_tran[0].split("\n"))
        tran.extend(zh_tran[1].split("\n"))

In [19]:
len(zh)

1742

In [16]:
tran = tran[:1742]

In [20]:
pd.DataFrame({"ZH":zh[:1000], "EN": tran[:1000]})#[:130]

                        ZH                            EN
0                  你曾經對我說過    nǐ céngjīng duì wǒ shuōguò
1                    永遠的愛我             yǒngyuǎn de ài wǒ
2                  誰知道你的話兒       shuí zhīdào nǐ dehuà er
3                    都是在騙我           dōu shì zài piàn wǒ
4                   你狠心拋棄我            nǐ hěnxīn pāoqì wǒ
..                     ...                           ...
995  就像你一直為我 守候 親愛的人 親密的愛人          fāng cǎo bì liántiān
996          謝謝你這麼長的時間 陪著我  wǎn fēng bì liǔ dí shēng cán
997             親愛的人 親密的愛人          xīyáng shān wài shān
998          這是我一生中 最興奮的時分       tiān zhī yá di zhī jiǎo
999         這是我一生中 最興奮的時分            zhījiāo bàn língluò

[1000 rows x 2 columns]